<h1>Products</h1>


<table border= "1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Brand</th>
      <th>Sellor</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.category %></td>
        <td><%= product.price %></td>
        <td><%= product.brand %></td>
        <td><%= product.sellor %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
<div class="py-4">
  <%= will_paginate @products %>
</div>
