<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      text-align: center;
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    h1 {
      color: navy;
    }

    table {
      width: 100%;
      max-width: 800px;
      margin: 20px auto;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
  <title>!! FAMAZON  !!</title>
</head>
<body>

  <h1>!! FAMAZON !!</h1>

  <%= search_form_for @q do |f| %>
    <%= f.label :name_cont %>
    <%= f.search_field :name_cont %>

    <%= f.submit %>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Brand</th>
        <th>Seller</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |prod| %>
        <tr>
          <td><%= prod.id %></td>
          <td><%= prod.name %></td>
          <td><%= prod.category %></td>
          <td><%= prod.price %></td>
          <td><%= prod.brand %></td>
          <td><%= prod.sellor %></td>
          <td><%= image_tag(prod.image) if prod.image.attached? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</body>
</html>

<div class="py-4">
  <%= will_paginate @product %>
</div>
